
.row {
    margin: 0;
    padding: 0;
    height: 20px;
}

.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.wall {
    background-color:black;
}

.start {
    background-color:green;
    
} 
.finish {
    background-color: red;
}

.player {
    background-color: blueviolet;
    border-radius: 50%;
}
.box {
   
    background-color: gray
}

.boxDestination {
background-color: pink;
border-radius: 50%;
}