/* body {
    display: flex;
    align-items: center;
} */

.row {
    margin: 0;
    padding: 0;
    height: 50px;
}

.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.wall {
    background-color: #bf491e;
    border-radius: 15%;
    background-image: url(brickWall.jpeg);
}

.start {
    background-color: green;
}

.player {
    /* background-color: blueviolet; */
    border-radius: 50%;
    background-image: url(gnome2.jpeg);
}

.box {
    /* background-color: gray; */
    border-radius: 25%;
    z-index: 1;
    background-image: url(box.jpeg);
    image-rendering: auto;
    /* border: 1px solid black; */
   
}

.boxDestination {
    background-color: pink;
    border-radius: 50%;
    /* border: 2px solid black; */
    padding: 0;
}

.boxStorageLocation {
    background-color: palegreen;
    border-radius: 25%
}

#gameboard {
    font-size: larger;
}

/* [data-hallType-start] {
background-color: pink;
} */